
header {
    background-color: #5e1e13;
    color: white;
    padding: 20px;
    text-align: center;
    padding: 10px;
    margin: 0;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    background-color: #ffe0b2;
    padding: 40px 20px;
    text-align: center;
}

.banner .btn {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
}

section {
    padding: 30px 20px;
}

.menu-item p {
    margin: 8px 0;
}




#vistas a{
    text-decoration: none; /* QUITA EL SUBRAYADO */
    color: white; /* COLOR DEL TEXTO */
    background-color: blue;
    padding: 10px; /* ESPACIO INTERNO */
    border-radius: 5px; /* REDONDEAR ESQUINAS */

}
#vistas a{
    text-decoration: none; /* QUITA EL SUBRAYADO */
    color: white; /* COLOR DEL TEXTO */
    background-color: rgb(0, 0, 0);
    padding: 10px; /* ESPACIO INTERNO */
    border-radius: 5px; /* REDONDEAR ESQUINAS */
    }
    #vistas a:hover{ /* CUANDO EL MOUSE PASE POR ENCIMA DEL ELEMENTO */
    background-color: rgb(238, 0, 0); /* CAMBIA EL COLOR DE FONDO */
    color: yellow; /* CAMBIA EL COLOR DEL TEXTO */
    width: 150px; /* ANCHO DEL ELEMENTO */
    transform:scale(1,5); /* ESCALA EL ELEMENTO */
    }

    #contact-form{
        
            display: flex; /* HACE QUE LOS ELEMENTOS SE MUESTRAN EN UNA SOLA LINEA */
            flex-direction: column;
            width: 30%; /* ANCHO DEL FORMULARIO */
            margin: 10px auto; /* CENTRAR EL FORMULARIO */
            border: 2px black solid; /* GROSOR DEL BORDE */
            border-radius: 5px; /* REDONDEAR ESQUINAS */
            padding: 15px; /* ESPACIO INTERNO */
            background-color: rgba(19, 174, 50, 0.626); /* COLOR DE FONDO */
        
    }
    main{
        /*background-image:url(../recursos/jose.jpg); /* IMAGEN DE FONDO */
        background-size: contain; /* CUBRE TODO EL FONDO */
        text-align: center;
        background-position: center;
        color: rgb(#FFD700); /* COLOR DEL TEXTO */
        background-repeat: no-repeat;
        background-color: #8b3627;
    }
    #formulario-registro{
        display: flex; /* HACE QUE LOS ELEMENTOS SE MUESTRAN EN UNA SOLA LINEA */
        flex-direction: column;
        width: 30%; /* ANCHO DEL FORMULARIO */
        text-align: center;
        background-position: center;
        margin: 10px auto; /* CENTRAR EL FORMULARIO */
        border: 2px rgb(251, 231, 231) solid; /* GROSOR DEL BORDE */
        border-radius: 5px; /* REDONDEAR ESQUINAS */
        padding: 15px; /* ESPACIO INTERNO */
        background-color: rgb(228, 223, 223); /* COLOR DE FONDO */
        color: rgb(0, 0, 0);
        
     
    }
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;
    }
    
    .card {
        width: 250px;
        height: 300px;
        perspective: 1000px;
        color: #FFD700;
       
    }
    
    .card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    
    .card:hover .card-inner {
        transform: rotateY(180deg);
    }
    
    .card-front, .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border: 1px solid #0b0a0a;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    
    .card-front {
        background-color: #000000;
        text-align: center;
    }
    
    .card-front img {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
    
    .card-front h3 {
        margin: 10px 0;
    }
    
    .card-back {
        background-color: #040303;
        transform: rotateY(180deg);
        padding: 15px;
        text-align: left;
        overflow-y: auto;
        color: #FFD700;
    }
    
    .card-back h3 {
        margin-top: 0;
        color: #d94e36;
    }
    
    .card-back p {
        margin: 5px 0;
    }
    .titulos{

        font-family:  Brush Script, fantasy ;
        font-weight: bold;
        font-size: 2rem;
        background: linear-gradient(rgb(2, 132, 225) 50%, rgba(243, 109, 0, 0.677) 75%);
        background-clip: text;
        -webkit-text-fill-color: transparent;

        
        text-decoration: underline;
        text-decoration-color: red;  /* Color del subrayado */
        text-decoration-thickness: 2px; /* Grosor */

        
}
      
    
    .elegir{
        
       
        text-align: center;
        
        font-family:  Brush Script, fantasy ;
        font-weight: bold;
        font-size: 2rem;
        background: linear-gradient(rgb(225, 87, 2) 50%, rgba(182, 48, 3, 0.923) 75%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .COMIDAS {
        --more: 2px;
  --minus: calc(var(--more) * -1);
  --border-color: rgb(234, 234, 234);

  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(12, 0, 144);
  filter:
    drop-shadow(var(--more) 0 0 var(--border-color))
    drop-shadow(var(--minus) 0 0 var(--border-color))
    drop-shadow(0 var(--more) 0 var(--border-color))
    drop-shadow(0 var(--minus) 0 var(--border-color));

    }
    /* Solo los <p> que están dentro de <main id="nosotros"> */
#nosotros p {
    background-color: #0d47a1; /* Azul intenso */
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
    font-weight: normal;
    display: inline-block;
  }

  body {
    font-family: 'Poppins', sans-serif;
    background-color: #8b2f24;
    color: white;
    margin: 0;
    padding: 0;
}



header h1, header h4 {
    margin: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#logo {
   /* width: 100px;
    margin-top: 10px;
    border-radius: 50%;*/

    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;   /* Tamaño ajustable */
    height: 100px;  /* Igual al ancho para que quede perfectamente redondo */
    border-radius: 50%;
    object-fit: cover; /* Asegura que la imagen no se deforme */
    z-index: 1000;
    
}

main {
    padding: 20px;
}

h1.titulos, h2 {
    text-align: center;
}

ul {
    margin-bottom: 20px;
}

a {
    color: yellow;
}

/* Estilos de los bloques tipo ajedrez */
.bloques {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.bloque {
    background-color: #5e1e13;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
}

.bloque img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.bloque h2 {
    margin-top: 10px;
}

.texto-arriba h2, .texto-arriba p, .texto-arriba ul {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #5e1e13;
    margin-top: 40px;
}
 .menu{
    --more: 2px;
    --minus: calc(var(--more) * -1);
    --border-color: rgb(234, 234, 234);
  
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(12, 0, 144);
    filter:
      drop-shadow(var(--more) 0 0 var(--border-color))
      drop-shadow(var(--minus) 0 0 var(--border-color))
      drop-shadow(0 var(--more) 0 var(--border-color))
      drop-shadow(0 var(--minus) 0 var(--border-color));
  
      }
 .nossss{
    --more: 2px;
    --minus: calc(var(--more) * -1);
    --border-color: rgb(234, 234, 234);
  
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(12, 0, 144);
    filter:
      drop-shadow(var(--more) 0 0 var(--border-color))
      drop-shadow(var(--minus) 0 0 var(--border-color))
      drop-shadow(0 var(--more) 0 var(--border-color))
      drop-shadow(0 var(--minus) 0 var(--border-color));
 }
 .contacto{
    --more: 2px;
    --minus: calc(var(--more) * -1);
    --border-color: rgb(234, 234, 234);
  
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(12, 0, 144);
    filter:
      drop-shadow(var(--more) 0 0 var(--border-color))
      drop-shadow(var(--minus) 0 0 var(--border-color))
      drop-shadow(0 var(--more) 0 var(--border-color))
      drop-shadow(0 var(--minus) 0 var(--border-color));
  
      }
    .registro{
        --more: 2px;
    --minus: calc(var(--more) * -1);
    --border-color: rgb(234, 234, 234);
  
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(12, 0, 144);
    filter:
      drop-shadow(var(--more) 0 0 var(--border-color))
      drop-shadow(var(--minus) 0 0 var(--border-color))
      drop-shadow(0 var(--more) 0 var(--border-color))
      drop-shadow(0 var(--minus) 0 var(--border-color));
  

    }
    
 



 